<div ng-app='gta' ng-controller='SubmissionViewCtrl'>
  <div class="contentpage_wrap">
    <div class="contentpage_basic_mod_info_wrap">

      <div class="contentpage_titlewrap">
        <div class="contentpage_title">
          {{ submission.name }}
        </div>
        <div class="contentpage_modcreator">
          by {{ submission.creator.username }}
        </div>

      </div>
      <div class="contentpage_mainthumb">
        <img class="contentpage_mainthumb_img" src="<%= image_path('thumbnail.jpg') %>" alt="Main Thumbnail" />
      </div>

    </div>
    <div class="contentpage_download_and_screenshots_wrap">
      <div class="modfilename">Wickerville.zip (34mb)</div>
      <a class="downloadbutton_link" href=""><div class="downloadbutton">
        <div class="downloadbutton_text">Download</div>
      </div></a>
      <div class="contentpage_screenshots_wrap">
        <a href=""><img class="contentpage_screenshot" src="<%= image_path('thumbnail2.jpg') %>" /></a>
        <a href=""><img class="contentpage_screenshot" src="<%= image_path('thumbnail7.jpg') %>" /></a>
        <a href=""><img class="contentpage_screenshot" src="<%= image_path('thumbnail3.jpg') %>" /></a>
        <a href=""><img class="contentpage_screenshot" src="<%= image_path('thumbnail4.jpg') %>" /></a>
        <a href=""><img class="contentpage_screenshot" src="<%= image_path('thumbnail5.jpg') %>" /></a>
        <a href=""><img class="contentpage_screenshot" src="<%= image_path('thumbnail6.jpg') %>" /></a>

      </div>
    </div>
    <div class="contentpage_likebar_wrap">
      <a class="downloadbutton_link" href=""><div class="downloadbutton downloadbuttonsmall">
        <div class="downloadbutton_text downloadbutton_textsmall">Download</div>
      </div></a>
      <div class="ratingbutton likebutton">
        <%= image_tag('likebuttonicon.png', class: 'rathingbuttonicon') %>
        <div class="ratingbutton_text">Like</div>
      </div>
      <div class="ratingbutton dislikebutton">
        <%= image_tag('dislikebuttonicon.png', class: 'rathingbuttonicon') %>
        <div  class="ratingbutton_text">Disike</div>
      </div>
      <div class="ratingresults">86 people like this mod</div>
    </div>
    <a class="expand_description" href="">&#62;</a>
    <div class="contentpage_descriptionwrap">
      <div class="contentpage_headertitles">Description <a class="collapse_description_icon" href="">&#60;</a></div>
      <div class="descriptionwrap_moddescription">
        {{ submission.body }}
      </div>
      <div class="contentpage_uploaddate"><b>Upload Date:</b> February 10th, 2015</div>
      <div class="contentpage_lastupdated"><b>Last Updated:</b> February 21st, 2015</div>
    </div>
    <div class="contentpage_commentswrap">
      <div class="contentpage_headertitles">Comments

        <div id="contentoptions">
          <ul>
            <li><a href="#">Oldest First <span class="downarrowsymbol">&#x25BC;</span></a>
              <ul>
                <li><a href="#">Newest First</a></li>
                <li><a href="#">Most Liked</a></li>
                <li><a href="#">Creator Only</a></li>
                <li><a href="#">Admin Only</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
      <input type="text" class="commentinput" placeholder="What do you think?"></input>
      <button type="submit" class="comment_submit_button">Submit</button>

      <div class="usercommentwrap" ng-repeat="comment in submission.comments">
        <div class="commentname">{{comment.user.username}} <div class="likecomment_score">+3 <a href="" class="likecomment_button">Like</a></div></div>
        <div class="commenttext">{{comment.text}}</div>
      </div>
    </div>
  </div>
</div>
