<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {method: :put, :autocomplete => "off"}) do |f| %>
<div class="editprofile_top_panel_wrap">
  <h3>Profile Settings</h3>
  <%= f.submit "Save Changes" %>
</div>

<div class="editprofile_error_box">
  <% if resource.errors.any? %>
  <ul>
    <% resource.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
  <% end %>
</div>

<h4 class="editpage_subheadings"><img src="<%= asset_path('pen25.png') %>"/>About Me</h4>
<div class="editprofile_editcontentbox">
  <%= f.text_area :biography, class: 'about_me', placeholder: 'Your Bio (displays on profile)' %>
  <div class="username_and_avatar_wrap">
    <%= f.label :username %>
    <%= f.text_field :username, placeholder: 'Change Username' %>

    <h5>Avatar:</h5>
    <div class="avatar_display">

    </div>
    <div class="add_avatar_wrap">
      <input type="Submit" value="Add Image" />
      <p><b>Note:</b> Your avatar must be a square image for the aspect ratio to 
        display correctly.</p>
      </div>
    </div>
  </div>

  <h4 class="editpage_subheadings"><img src="<%= asset_path('email25.png') %>" />Email</h4>
  <div class="editprofile_editcontentbox">

    <div class="email_notifications_wrap">    

      <h5 class="email_notification_title">Notification Types</h5>
      <div class="switch_wrap">
        <div class="email_switch_label">Mod Approval</div>
        <div class="switch">

          <%= f.check_box(:email_approval, { class: 'cmn-toggle cmn-toggle-round', id: 'cmn-toggle-1' }) %>
          <label for="cmn-toggle-1"></label>
        </div>  
      </div>

      <div class="switch_wrap">
        <div class="email_switch_label">Mod Reports</div>
        <div class="switch">

         <%= f.check_box(:email_reports, { class: 'cmn-toggle cmn-toggle-round', id: 'cmn-toggle-2' }) %>
         <label for="cmn-toggle-2"></label>
       </div>  
     </div> 


     <div class="switch_wrap">
      <div class="email_switch_label">Comments</div>
      <div class="switch">

       <%= f.check_box(:email_comments, { class: 'cmn-toggle cmn-toggle-round', id: 'cmn-toggle-3' }) %>
       <label for="cmn-toggle-3"></label>
     </div>  
   </div>

   <div class="switch_wrap">
    <div class="email_switch_label">Mods-GTAV News</div>
    <div class="switch">

     <%= f.check_box(:email_news, { class: 'cmn-toggle cmn-toggle-round', id: 'cmn-toggle-4' }) %>
     <label for="cmn-toggle-4"></label>
   </div>  
 </div> 
</div>

<div class="change_email_wrap">
  <h5 class="email_notification_title">Change Account Email</h5>
  <ul>
    <li><b>Note:</b> To change your email you must enter the following information. Click on Save Changes (top) when complete.</li>
    <li>
      <%= f.label :email %>
      <%= f.email_field :email, autocomplete: "off" %>
    </li>
  </ul>
</div>

</div>

<h4 class="editpage_subheadings"><img src="<%= asset_path('lock26.png') %>" />Password</h4>
<div class="editprofile_editcontentbox">
  <div class="change_email_wrap change_password_wrap">
    <h5 class="email_notification_title">Change Account Password</h5>
    <ul>
      <li><b>Note:</b> To change your password you must enter the following information. Click on Save Changes (top) when complete.</li>
      <li>
        <%= f.label :password, 'New Password' %>
        <%= f.password_field :password, autocomplete: "off" %>
      </li>
      <li>
        <%= f.label :password_confirmation, 'Confirm Password' %>
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </li>
      <li>
        <%= f.label :current_password, 'Current Password' %>
        <%= f.password_field :current_password, autocomplete: "off" %>
      </li>
    </ul>
  </div>
</div>
<% end %>