<%= content_for :sidebar do %>
<h3>Admin Panels</h3>
<div class="subcategories_wrap">
	<%= link_to(admin_home_path) do %>
	<div class="subcategory <%= current_panel('home') %>"><p>Home</p></div>
	<% end %>
	<%= link_to [:admin, :content] do %>
	<div class="subcategory <%= current_panel('content') %>"><p>Content Moderation</p></div>
	<% end %>

	<%= link_to admin_flush_path, method: :post do %>
	<div class='subcategory'><p>Flush Cache</p></div>
	<% end %>

	<%= link_to [:admin, :users] do %>
	<div class='subcategory <%= current_panel('listings', 'users') %>'><p>User List</p></div>
	<% end %>
</div>
<% end %>