<% if current_user %>
<!-- Logged in user -->
<div class="user_avatar_wrap"><%= avatar(current_user) %></div>
<div class="userinfo">
	<div class="username">
		<div id="contentoptions">
			<ul>
				<li>
					<a class="usernamelink" href="<%= profile_path(current_user.username) %>"><%= current_user.username %><span class="comments_downarrowsymbol username_downarrowsymbol">&#x25BC;</span></a>
					<ul>
						<li><%= link_to 'View Profile', profile_path(current_user.username) %></li>
						<li><a href="#">Edit Profile</a></li>
						<li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
					</ul>
				</li>
			</ul>
		</div>

		<div class="user_online_indicator"></div>
	</div>
	<div class="userdesc">Mod Creator</div>
</div>
<!-- User stats -->
<tr>
	<td class="stat_title"><img class="user_stat_icon accentcolor" src="<%= asset_path('hearticon.png') %>" /></td>
	<td class="stat_title"><img class="user_stat_icon accentcolor" src="<%= asset_path('commenticon.png') %>" /></td>
	<td class="stat_title"><img class="user_stat_icon accentcolor" src="<%= asset_path('downloadicon.png') %>" /></td>
</tr>
<tr>
	<td><span class="stat_amount">0</span></td>
	<td><span class="stat_amount"><%= current_user.comments.count %></span></td>
	<td> <span class="stat_amount">0</span></td>
</tr>
<!-- End stats -->
<!-- End logged in user -->
<% else %>

<input class="registerbutton" type="submit" value="Register" />
<p class="signin_option">Have an account? <a class="signinlink" href="" onclick="return false;">Sign in.</a></p>

<!-- Guest user -->
<div class="user_avatar_wrap"><%= image_tag('michaelavatar.png') %></div>
<div class="userinfo">
	<div class="username">
		<div id="contentoptions">
			<ul>
				<li>
					<a class="usernamelink" href="#" onclick="return false;">Guest User</a>
				</li>
			</ul>
		</div>

		<div class="user_online_indicator"></div>
	</div>
	<div class="userdesc">Visitor</div>
</div>
<!-- End guest user -->

<!-- Authentication forms -->
<div class="inputwrap signinwrap" style='display: none;'>
	<%= form_for(:user, url: user_session_path) do |f| %>
	<%= f.text_field :login, class: 'login-input', autocomplete: 'off', type: 'text', placeholder: 'Email or Username' %>
	<%= f.password_field :password, class: 'login-input', autocomplete: 'off', type: 'password', placeholder: 'Password' %>
	<%= f.submit 'Submit', class: 'submit_login_data' %>
	<div class="forgotwrap"> <a class="forgotlink" href="" onclick="return false;">forgot details?</a></div>
	<%= link_to image_tag('steamsignin.png', alt: 'Sign in with Steam', class: 'steamsignin'), user_omniauth_authorize_path(:steam) %></a>
	<% end %>
</div>
<div class="inputwrap registerwrap" style='display: none;'>
	<%= form_for(:user, url: user_registration_path) do |f| %>
	<%= f.email_field :email, class: 'register-input', autocomplete: 'off', type: 'text', placeholder: 'Email' %>
	<%= f.text_field :username, class: 'register-input', autocomplete: 'off', type: 'text', placeholder: 'Username' %>
	<%= f.password_field :password, class: 'register-input', autocomplete: 'off', type: 'password', placeholder: 'Password' %>
	<%= f.password_field :password_confirmation, class: 'register-input', autocomplete: 'off', type: 'password', placeholder: 'Confirm Password' %>
	<%= f.submit 'Submit', class: 'submit_login_data' %>
	<%= link_to image_tag('steamsignin.png', alt: 'Sign in with Steam', class: 'steamsignin'), user_omniauth_authorize_path(:steam) %></a>
	<% end %>
</div>	
<div class="inputwrap resetpasswordwrap" style='display: none;'>
	<%= form_for(:user, url: user_password_path) do |f| %>
	<%= f.email_field :email, autofocus: true, class: 'resetpassword-input', autocomplete: 'off', type: 'email', placeholder: 'Email' %>
	<div class="forgotwrap">An email will be sent to your account with instructions on changing your password</div>
	<% end %>
</div>
<!-- End authentication forms -->
<% end %>
