<div id="contact-popup" class="imageupload_popup_wrap mfp-hide mfp-with-anim">
    <h3>Contact</h3>
    <h4>You should recieve a response within 48 hours.</h4>
    <%= form_tag(url: '/api/contact', method: :post) do %>
    <div class="contact-popup">
        <%= label_tag :username %> <%= text_field_tag :username, class: 'contactboxes' %>
        <%= label_tag :email %> <%= email_field_tag :email, class: 'contactboxes' %>
        <%= label_tag :message %> <%= text_area_tag :message, class: 'contactboxes', rows: "7" %>
    </div>  

    <div class="bottom_buttons_wrap">
        <% submit_tag 'Send', class: 'upload' %>
    </div>
    <% end %>
</div>