<% submissions.each do |submission| %>
<div class="modwrap">
    <div class="mod_thumb_and_title_wrap">
        <div class="modthumbnailwrap">
            <div class="submissiondate"><%= relative(submission.updated_at) %></div>
            <% main = submission.fetch_display %>
            <a href="<%= submission_path(submission) %>"><%= main ? image_tag(main['image']['preview']['url']) : '' %></a>
        </div>
        <div class="modtitlewrap">
            <%= link_to submission.name, submission_path(submission), class: 'modtitle' %>
        </div>
    </div>
    <div class="mod_creator_and_download_wrap">
        <% creator = submission.fetch_creator %>
        <div class="mod_creator"><%= link_to creator, profile_path(creator) %></div>
        <div class="downloadcount"><%= submission.download_count %> <img src="<%= asset_path('downloadcounticon.png') %>" alt="DL" /></div>
    </div>
</div>
<% end %>