<div class="homepage_featuredwrap_large">
   <h3>Featured Modifications</h3>
   <div class="mainimgwrap">
      <img src="<%= asset_path('thumbnail.jpg') %>" />
   </div>
</div>
<div class="homepage_note_and_mostpopular_wrap">
   <div class="homepage_website_note">
      <img src="" alt="Noteimg" />
      <p>Hello! Welcome to <a href="gtahome.html">Mods-GTAV</a>. We are
         incredibly excited to launch this project. <a href="gtaupload.html">Upload</a> your own
         mod or view other's work.
      </p>
   </div>
   <table class="this_week_most_popular_wrap">
      <th>This Week's Most Popular</th>
      <tr>
         <td class="modtitle"><a href="#">Offroad Trail</a></td>
         <td class="downloads">857</td>
      </tr>
      <tr>
         <td class="modtitle"><a href="#">AK-47 Gun Mod</a></td>
         <td class="downloads">944</td>
      </tr>
      <tr>
         <td class="modtitle"><a href="#">ENB 0.7 Graphics Mod</a></td>
         <td class="downloads">2,566</td>
      </tr>
      <tr>
         <td class="modtitle"><a href="#">Spiderman v2.0</a></td>
         <td class="downloads">582</td>
      </tr>
      <tr>
         <td class="modtitle"><a href="#">Ford F-150 Vehicle</a></td>
         <td class="downloads">1,731</td>
      </tr>
      <tr>
         <td class="modtitle"><a href="#">Muscle Derby Texture Pack v1.0</a></td>
         <td class="downloads">4,519</td>
      </tr>
   </table>
</div>
<div class="homepage_featuredwrap_small">
   <div class="homepage_featured_modwrap">
      <div class="imgwrap">
         <img src="<%= asset_path('thumbnail3.jpg') %>" />
      </div>
      <div class="featured_moddetailswrap">
         <h4 class="featured_modtitle">Spiderman Player Change</h4>
         <h5 class="featured_modcreator">LCBradley3k</h5>
         <div class="featured_likecount"><img src="<%= asset_path('hearticon.png') %>" />1,257</div>
         <div class="featured_downloadcount"><img src="<%= asset_path('downloadcounticon.png') %>" />2,534,190</div>
      </div>
   </div>
   <div class="homepage_featured_modwrap">
      <div class="imgwrap">
         <img src="<%= asset_path('thumbnail2.jpg') %>" />
      </div>
      <div class="featured_moddetailswrap">
         <h4 class="featured_modtitle">Ford F-150 Vehicle Mod</h4>
         <h5 class="featured_modcreator">LCBradley3k</h5>
         <div class="featured_likecount"><img src="<%= asset_path('hearticon.png') %>" />1,257</div>
         <div class="featured_downloadcount"><img src="<%= asset_path('downloadcounticon.png') %>" />2,534,190</div>
      </div>
   </div>
</div>
<div class="homepage_twitterwrap">
   <h3><img src="<%= asset_path('twitterlogo.png') %>" />#Mod of the Day</h3>
   <div class="homepage_twittercollectionwrap">
      <a class="twitter-timeline" href="/Mods_GTAV/timelines/582640610567434241" height="230px" width="370"  data-tweet-limit="1" data-chrome="nofooter noheader noborders transparent noscrollbar" data-widget-id="582641796481617920">Mod of the Day</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
   </div>
   <div class="twitter_bottom_margin_fix"></div>
</div>
<div class="horizontal_mod_display">
   <h3>Trending Now</h3>
   <div class="modwrap">
      <div class="mod_thumb_and_title_wrap">
         <div class="modthumbnailwrap">
            <div class="likecounter">
               <img src="<%= asset_path('hearticon.png') %>" />
               <p>157</p>
            </div>
            <a href="gtacontent.html"><img class="modthumbnail" src="<%= asset_path('thumbnail.jpg') %>" /></a>
         </div>
         <div class="modtitlewrap">
            <a href="gtacontent.html" class="modtitle">Ford F-150</a>
         </div>
      </div>
      <div class="mod_creator_and_download_wrap">
         <div class="mod_creator"><a href="gtaprofile.html">LCBradley3k</a></div>
         <div class="downloadcount">159 <img src="<%= asset_path('downloadcounticon.png') %>" alt="" /></div>
      </div>
   </div>
   <div class="modwrap">
      <div class="mod_thumb_and_title_wrap">
         <div class="modthumbnailwrap">
            <div class="likecounter">
               <img src="<%= asset_path('hearticon.png') %>" />
               <p>157</p>
            </div>
            <a href="gtacontent.html"><img class="modthumbnail" src="<%= asset_path('thumbnail3.jpg') %>" /></a>
         </div>
         <div class="modtitlewrap">
            <a href="gtacontent.html" class="modtitle">Costa Rica</a>
         </div>
      </div>
      <div class="mod_creator_and_download_wrap">
         <div class="mod_creator"><a href="gtaprofile.html">Jake0oo0</a></div>
         <div class="downloadcount">159 <img src="<%= asset_path('downloadcounticon.png') %>" alt="" /></div>
      </div>
   </div>
   <div class="modwrap">
      <div class="mod_thumb_and_title_wrap">
         <div class="modthumbnailwrap">
            <div class="likecounter">
               <img src="<%= asset_path('hearticon.png') %>" />
               <p>157</p>
            </div>
            <a href="gtacontent.html"><img class="modthumbnail" src="<%= asset_path('thumbnail2.jpg') %>" /></a>
         </div>
         <div class="modtitlewrap">
            <a href="gtacontent.html" class="modtitle">Spiderman</a>
         </div>
      </div>
      <div class="mod_creator_and_download_wrap">
         <div class="mod_creator"><a href="gtaprofile.html">ModderMike</a></div>
         <div class="downloadcount">159 <img src="<%= asset_path('downloadcounticon.png') %>" alt="" /></div>
      </div>
   </div>
</div>
<div class="horizontal_mod_display">
   <h3>Our Favorites</h3>
   <div class="modwrap">
      <div class="mod_thumb_and_title_wrap">
         <div class="modthumbnailwrap">
            <div class="likecounter">
               <img src="<%= asset_path('hearticon.png') %>" />
               <p>157</p>
            </div>
            <a href="gtacontent.html"><img class="modthumbnail" src="<%= asset_path('thumbnail.jpg') %>" /></a>
         </div>
         <div class="modtitlewrap">
            <a href="gtacontent.html" class="modtitle">Ford F-150</a>
         </div>
      </div>
      <div class="mod_creator_and_download_wrap">
         <div class="mod_creator"><a href="gtaprofile.html">LCBradley3k</a></div>
         <div class="downloadcount">159 <img src="<%= asset_path('downloadcounticon.png') %>" alt="" /></div>
      </div>
   </div>
   <div class="modwrap">
      <div class="mod_thumb_and_title_wrap">
         <div class="modthumbnailwrap">
            <div class="likecounter">
               <img src="<%= asset_path('hearticon.png') %>" />
               <p>157</p>
            </div>
            <a href="gtacontent.html"><img class="modthumbnail" src="<%= asset_path('thumbnail3.jpg') %>" /></a>
         </div>
         <div class="modtitlewrap">
            <a href="gtacontent.html" class="modtitle">Costa Rica</a>
         </div>
      </div>
      <div class="mod_creator_and_download_wrap">
         <div class="mod_creator"><a href="gtaprofile.html">Jake0oo0</a></div>
         <div class="downloadcount">159 <img src="<%= asset_path('downloadcounticon.png') %>" alt="" /></div>
      </div>
   </div>
   <div class="modwrap">
      <div class="mod_thumb_and_title_wrap">
         <div class="modthumbnailwrap">
            <div class="likecounter">
               <img src="<%= asset_path('hearticon.png') %>" />
               <p>157</p>
            </div>
            <a href="gtacontent.html"><img class="modthumbnail" src="<%= asset_path('thumbnail2.jpg') %>" /></a>
         </div>
         <div class="modtitlewrap">
            <a href="gtacontent.html" class="modtitle">Spiderman</a>
         </div>
      </div>
      <div class="mod_creator_and_download_wrap">
         <div class="mod_creator"><a href="gtaprofile.html">ModderMike</a></div>
         <div class="downloadcount">159 <img src="<%= asset_path('downloadcounticon.png') %>" alt="" /></div>
      </div>
   </div>
</div>
<div class="homepage_youtube_wrap">
   <h3><img src="<%= asset_path('youtubelogo.png') %>" />Community Videos</h3>
   <div class="youtube_videos_wrap">
      <a href=""><img src="http://img.youtube.com/vi/BWO6VDxSg4o/mqdefault.jpg" /></a>
      <a href=""><img src="http://img.youtube.com/vi/GE4tbjiQ-Ew/mqdefault.jpg" /></a>
      <a href=""><img src="http://img.youtube.com/vi/BWO6VDxSg4o/mqdefault.jpg" /></a>
      <a href=""><img src="http://img.youtube.com/vi/GE4tbjiQ-Ew/mqdefault.jpg" /></a>
      <a href=""><img src="http://img.youtube.com/vi/BWO6VDxSg4o/mqdefault.jpg" /></a>
      <a href=""><img src="http://img.youtube.com/vi/GE4tbjiQ-Ew/mqdefault.jpg" /></a>
   </div>
</div>
<table class="this_week_most_popular_wrap most_popular_users">
   <th>This Week's Top Developers</th>
   <tr>
      <td class="modtitle"><a href="#">LCBradle3k</a></td>
      <td class="downloads">857</td>
   </tr>
   <tr>
      <td class="modtitle"><a href="#">Jake0oo0</a></td>
      <td class="downloads">944</td>
   </tr>
   <tr>
      <td class="modtitle"><a href="#">WildLandTurtle5</a></td>
      <td class="downloads">2,566</td>
   </tr>
   <tr>
      <td class="modtitle"><a href="#">ModderMike57</a></td>
      <td class="downloads">582</td>
   </tr>
   <tr>
      <td class="modtitle"><a href="#">SpiderPig</a></td>
      <td class="downloads">1,731</td>
   </tr>
   <tr>
      <td class="modtitle"><a href="#">ManBearAnimalThing</a></td>
      <td class="downloads">4,519</td>
   </tr>
</table>
<div class="homepage_featuredwrap_small">
   <div class="homepage_featured_modwrap">
      <div class="imgwrap">
         <img src="<%= asset_path('thumbnail3.jpg') %>" />
      </div>
      <div class="featured_moddetailswrap">
         <h4 class="featured_modtitle">Spiderman Player Change</h4>
         <h5 class="featured_modcreator">LCBradley3k</h5>
         <div class="featured_likecount"><img src="<%= asset_path('hearticon.png') %>" />1,257</div>
         <div class="featured_downloadcount"><img src="<%= asset_path('downloadcounticon.png') %>" />2,534,190</div>
      </div>
   </div>
   <div class="homepage_featured_modwrap">
      <div class="imgwrap">
         <img src="<%= asset_path('thumbnail2.jpg') %>" />
      </div>
      <div class="featured_moddetailswrap">
         <h4 class="featured_modtitle">Ford F-150 Vehicle Mod</h4>
         <h5 class="featured_modcreator">LCBradley3k</h5>
         <div class="featured_likecount"><img src="<%= asset_path('hearticon.png') %>" />1,257</div>
         <div class="featured_downloadcount"><img src="<%= asset_path('downloadcounticon.png') %>" />2,534,190</div>
      </div>
   </div>
   <div class="homepage_featured_modwrap">
      <div class="imgwrap">
         <img src="<%= asset_path('thumbnail2.jpg') %>" />
      </div>
      <div class="featured_moddetailswrap">
         <h4 class="featured_modtitle">Ford F-150 Vehicle Mod</h4>
         <h5 class="featured_modcreator">LCBradley3k</h5>
         <div class="featured_likecount"><img src="<%= asset_path('hearticon.png') %>" />1,257</div>
         <div class="featured_downloadcount"><img src="<%= asset_path('downloadcounticon.png') %>" />2,534,190</div>
      </div>
   </div>
</div>
<div class="homepage_twitterwrap">
   <h3><img src="<%= asset_path('twitterlogo.png') %>" />Rockstar Games</h3>
   <div class="homepage_twittercollectionwrap twitter_rockstar_wrap">
      <a class="twitter-timeline" href="https://twitter.com/RockstarGames" height="370px" width="370"  data-chrome="nofooter noheader noborders transparent noscrollbar" data-widget-id="582689589661278208">Tweets by @RockstarGames</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
   </div>
</div>
<div class="horizontal_mod_display">
   <h3>Today's Most Liked</h3>
   <div class="modwrap">
      <div class="mod_thumb_and_title_wrap">
         <div class="modthumbnailwrap">
            <div class="likecounter">
               <img src="<%= asset_path('hearticon.png') %>" />
               <p>157</p>
            </div>
            <a href="gtacontent.html"><img class="modthumbnail" src="<%= asset_path('thumbnail.jpg') %>" /></a>
         </div>
         <div class="modtitlewrap">
            <a href="gtacontent.html" class="modtitle">Ford F-150</a>
         </div>
      </div>
      <div class="mod_creator_and_download_wrap">
         <div class="mod_creator"><a href="gtaprofile.html">LCBradley3k</a></div>
         <div class="downloadcount">159 <img src="<%= asset_path('downloadcounticon.png') %>" alt="" /></div>
      </div>
   </div>
   <div class="modwrap">
      <div class="mod_thumb_and_title_wrap">
         <div class="modthumbnailwrap">
            <div class="likecounter">
               <img src="<%= asset_path('hearticon.png') %>" />
               <p>157</p>
            </div>
            <a href="gtacontent.html"><img class="modthumbnail" src="<%= asset_path('thumbnail3.jpg') %>" /></a>
         </div>
         <div class="modtitlewrap">
            <a href="gtacontent.html" class="modtitle">Costa Rica</a>
         </div>
      </div>
      <div class="mod_creator_and_download_wrap">
         <div class="mod_creator"><a href="gtaprofile.html">Jake0oo0</a></div>
         <div class="downloadcount">159 <img src="<%= asset_path('downloadcounticon.png') %>" alt="" /></div>
      </div>
   </div>
   <div class="modwrap">
      <div class="mod_thumb_and_title_wrap">
         <div class="modthumbnailwrap">
            <div class="likecounter">
               <img src="<%= asset_path('hearticon.png') %>" />
               <p>157</p>
            </div>
            <a href="gtacontent.html"><img class="modthumbnail" src="<%= asset_path('thumbnail2.jpg') %>" /></a>
         </div>
         <div class="modtitlewrap">
            <a href="gtacontent.html" class="modtitle">Spiderman</a>
         </div>
      </div>
      <div class="mod_creator_and_download_wrap">
         <div class="mod_creator"><a href="gtaprofile.html">ModderMike</a></div>
         <div class="downloadcount">159 <img src="<%= asset_path('downloadcounticon.png') %>" alt="" /></div>
      </div>
   </div>
</div>
<div class="horizontal_mod_display">
   <h3>Today's Most Downloaded</h3>
   <!--<div class="imgwrap">
      <img src="<%= asset_path('thumbnail4.jpg') %>" />
      </div>
      <div class="imgwrap">
      <img src="<%= asset_path('thumbnail6.jpg') %>" />
      </div>
      <div class="imgwrap">
      <img src="<%= asset_path('thumbnail7.jpg') %>" />
      </div>
      <div class="imgwrap">
      <img src="<%= asset_path('thumbnail5.jpg') %>" />
      </div>-->
   <div class="modwrap">
      <div class="mod_thumb_and_title_wrap">
         <div class="modthumbnailwrap">
            <div class="likecounter">
               <img src="<%= asset_path('hearticon.png') %>" />
               <p>157</p>
            </div>
            <a href="gtacontent.html"><img class="modthumbnail" src="<%= asset_path('thumbnail.jpg') %>" /></a>
         </div>
         <div class="modtitlewrap">
            <a href="gtacontent.html" class="modtitle">Ford F-150</a>
         </div>
      </div>
      <div class="mod_creator_and_download_wrap">
         <div class="mod_creator"><a href="gtaprofile.html">LCBradley3k</a></div>
         <div class="downloadcount">159 <img src="<%= asset_path('downloadcounticon.png') %>" alt="" /></div>
      </div>
   </div>
   <div class="modwrap">
      <div class="mod_thumb_and_title_wrap">
         <div class="modthumbnailwrap">
            <div class="likecounter">
               <img src="<%= asset_path('hearticon.png') %>" />
               <p>157</p>
            </div>
            <a href="gtacontent.html"><img class="modthumbnail" src="<%= asset_path('thumbnail3.jpg') %>" /></a>
         </div>
         <div class="modtitlewrap">
            <a href="gtacontent.html" class="modtitle">Costa Rica</a>
         </div>
      </div>
      <div class="mod_creator_and_download_wrap">
         <div class="mod_creator"><a href="gtaprofile.html">Jake0oo0</a></div>
         <div class="downloadcount">159 <img src="<%= asset_path('downloadcounticon.png') %>" alt="" /></div>
      </div>
   </div>
   <div class="modwrap">
      <div class="mod_thumb_and_title_wrap">
         <div class="modthumbnailwrap">
            <div class="likecounter">
               <img src="<%= asset_path('hearticon.png') %>" />
               <p>157</p>
            </div>
            <a href="gtacontent.html"><img class="modthumbnail" src="<%= asset_path('thumbnail2.jpg') %>" /></a>
         </div>
         <div class="modtitlewrap">
            <a href="gtacontent.html" class="modtitle">Spiderman</a>
         </div>
      </div>
      <div class="mod_creator_and_download_wrap">
         <div class="mod_creator"><a href="gtaprofile.html">ModderMike</a></div>
         <div class="downloadcount">159 <img src="<%= asset_path('downloadcounticon.png') %>" alt="" /></div>
      </div>
   </div>
</div>
<h3 class="homepage_recent">Recent Modifications</h3>
<div class="homepage_recent_mods_wrap">
   <div class="modwrap">
      <div class="mod_thumb_and_title_wrap">
         <div class="modthumbnailwrap">
            <div class="likecounter">
               <img src="<%= asset_path('hearticon.png') %>" />
               <p>157</p>
            </div>
            <a href="gtacontent.html"><img class="modthumbnail" src="<%= asset_path('thumbnail.jpg') %>" /></a>
         </div>
         <div class="modtitlewrap">
            <a href="gtacontent.html" class="modtitle">Ford F-150</a>
         </div>
      </div>
      <div class="mod_creator_and_download_wrap">
         <div class="mod_creator"><a href="gtaprofile.html">LCBradley3k</a></div>
         <div class="downloadcount">159 <img src="<%= asset_path('downloadcounticon.png') %>" alt="" /></div>
      </div>
   </div>
   <div class="modwrap">
      <div class="mod_thumb_and_title_wrap">
         <div class="modthumbnailwrap">
            <div class="likecounter">
               <img src="<%= asset_path('hearticon.png') %>" />
               <p>157</p>
            </div>
            <a href="gtacontent.html"><img class="modthumbnail" src="<%= asset_path('thumbnail3.jpg') %>" /></a>
         </div>
         <div class="modtitlewrap">
            <a href="gtacontent.html" class="modtitle">Costa Rica</a>
         </div>
      </div>
      <div class="mod_creator_and_download_wrap">
         <div class="mod_creator"><a href="gtaprofile.html">Jake0oo0</a></div>
         <div class="downloadcount">159 <img src="<%= asset_path('downloadcounticon.png') %>" alt="" /></div>
      </div>
   </div>
   <div class="modwrap">
      <div class="mod_thumb_and_title_wrap">
         <div class="modthumbnailwrap">
            <div class="likecounter">
               <img src="<%= asset_path('hearticon.png') %>" />
               <p>157</p>
            </div>
            <a href="gtacontent.html"><img class="modthumbnail" src="<%= asset_path('thumbnail2.jpg') %>" /></a>
         </div>
         <div class="modtitlewrap">
            <a href="gtacontent.html" class="modtitle">Spiderman</a>
         </div>
      </div>
      <div class="mod_creator_and_download_wrap">
         <div class="mod_creator"><a href="gtaprofile.html">ModderMike</a></div>
         <div class="downloadcount">159 <img src="<%= asset_path('downloadcounticon.png') %>" alt="" /></div>
      </div>
   </div>
   <div class="modwrap">
      <div class="mod_thumb_and_title_wrap">
         <div class="modthumbnailwrap">
            <div class="likecounter">
               <img src="<%= asset_path('hearticon.png') %>" />
               <p>157</p>
            </div>
            <a href="gtacontent.html"><img class="modthumbnail" src="<%= asset_path('thumbnail3.jpg') %>" /></a>
         </div>
         <div class="modtitlewrap">
            <a href="gtacontent.html" class="modtitle">The Hulk</a>
         </div>
      </div>
      <div class="mod_creator_and_download_wrap">
         <div class="mod_creator"><a href="gtaprofile.html">WildLandTurtle</a></div>
         <div class="downloadcount">159 <img src="<%= asset_path('downloadcounticon.png') %>" alt="" /></div>
      </div>
   </div>
   <div class="modwrap">
      <div class="mod_thumb_and_title_wrap">
         <div class="modthumbnailwrap">
            <div class="likecounter">
               <img src="<%= asset_path('hearticon.png') %>" />
               <p>157</p>
            </div>
            <a href="gtacontent.html"><img class="modthumbnail" src="<%= asset_path('thumbnail4.jpg') %>" /></a>
         </div>
         <div class="modtitlewrap">
            <a href="gtacontent.html" class="modtitle">Porsche 911</a>
         </div>
      </div>
      <div class="mod_creator_and_download_wrap">
         <div class="mod_creator"><a href="gtaprofile.html">Josh545</a></div>
         <div class="downloadcount">159 <img src="<%= asset_path('downloadcounticon.png') %>" alt="" /></div>
      </div>
   </div>
   <div class="modwrap">
      <div class="mod_thumb_and_title_wrap">
         <div class="modthumbnailwrap">
            <div class="likecounter">
               <img src="<%= asset_path('hearticon.png') %>" />
               <p>157</p>
            </div>
            <a href="gtacontent.html"><img class="modthumbnail" src="<%= asset_path('thumbnail5.jpg') %>" /></a>
         </div>
         <div class="modtitlewrap">
            <a href="gtacontent.html" class="modtitle">Camaro SS</a>
         </div>
      </div>
      <div class="mod_creator_and_download_wrap">
         <div class="mod_creator"><a href="gtaprofile.html">2Cool4u</a></div>
         <div class="downloadcount">159 <img src="<%= asset_path('downloadcounticon.png') %>" alt="" /></div>
      </div>
   </div>
   <div class="modwrap">
      <div class="mod_thumb_and_title_wrap">
         <div class="modthumbnailwrap">
            <div class="likecounter">
               <img src="<%= asset_path('hearticon.png') %>" />
               <p>157</p>
            </div>
            <a href="gtacontent.html"><img class="modthumbnail" src="<%= asset_path('thumbnail6.jpg') %>" /></a>
         </div>
         <div class="modtitlewrap">
            <a href="gtacontent.html" class="modtitle">Crazy Car</a>
         </div>
      </div>
      <div class="mod_creator_and_download_wrap">
         <div class="mod_creator"><a href="gtaprofile.html">LCBradley3k</a></div>
         <div class="downloadcount">159 <img src="<%= asset_path('downloadcounticon.png') %>" alt="" /></div>
      </div>
   </div>
   <div class="modwrap">
      <div class="mod_thumb_and_title_wrap">
         <div class="modthumbnailwrap">
            <div class="likecounter">
               <img src="<%= asset_path('hearticon.png') %>" />
               <p>157</p>
            </div>
            <a href="gtacontent.html"><img class="modthumbnail" src="<%= asset_path('thumbnail.jpg') %>" /></a>
         </div>
         <div class="modtitlewrap">
            <a href="gtacontent.html" class="modtitle">Helicopter Mod</a>
         </div>
      </div>
      <div class="mod_creator_and_download_wrap">
         <div class="mod_creator"><a href="gtaprofile.html">LCBradley3k</a></div>
         <div class="downloadcount">159 <img src="<%= asset_path('downloadcounticon.png') %>" alt="" /></div>
      </div>
   </div>
   <div class="modwrap">
      <div class="mod_thumb_and_title_wrap">
         <div class="modthumbnailwrap">
            <div class="likecounter">
               <img src="<%= asset_path('hearticon.png') %>" />
               <p>157</p>
            </div>
            <a href="gtacontent.html"><img class="modthumbnail" src="<%= asset_path('thumbnail3.jpg') %>" /></a>
         </div>
         <div class="modtitlewrap">
            <a href="gtacontent.html" class="modtitle">Helicopter Mod</a>
         </div>
      </div>
      <div class="mod_creator_and_download_wrap">
         <div class="mod_creator"><a href="gtaprofile.html">LCBradley3k</a></div>
         <div class="downloadcount">159 <img src="<%= asset_path('downloadcounticon.png') %>" alt="" /></div>
      </div>
   </div>
   <div class="modwrap">
      <div class="mod_thumb_and_title_wrap">
         <div class="modthumbnailwrap">
            <div class="likecounter">
               <img src="<%= asset_path('hearticon.png') %>" />
               <p>157</p>
            </div>
            <a href="gtacontent.html"><img class="modthumbnail" src="<%= asset_path('thumbnail.jpg') %>" /></a>
         </div>
         <div class="modtitlewrap">
            <a href="gtacontent.html" class="modtitle">Ford F-150</a>
         </div>
      </div>
      <div class="mod_creator_and_download_wrap">
         <div class="mod_creator"><a href="gtaprofile.html">LCBradley3k</a></div>
         <div class="downloadcount">159 <img src="<%= asset_path('downloadcounticon.png') %>" alt="" /></div>
      </div>
   </div>
   <div class="modwrap">
      <div class="mod_thumb_and_title_wrap">
         <div class="modthumbnailwrap">
            <div class="likecounter">
               <img src="<%= asset_path('hearticon.png') %>" />
               <p>157</p>
            </div>
            <a href="gtacontent.html"><img class="modthumbnail" src="<%= asset_path('thumbnail3.jpg') %>" /></a>
         </div>
         <div class="modtitlewrap">
            <a href="gtacontent.html" class="modtitle">Costa Rica</a>
         </div>
      </div>
      <div class="mod_creator_and_download_wrap">
         <div class="mod_creator"><a href="gtaprofile.html">Jake0oo0</a></div>
         <div class="downloadcount">159 <img src="<%= asset_path('downloadcounticon.png') %>" alt="" /></div>
      </div>
   </div>
   <div class="modwrap">
      <div class="mod_thumb_and_title_wrap">
         <div class="modthumbnailwrap">
            <div class="likecounter">
               <img src="<%= asset_path('hearticon.png') %>" />
               <p>157</p>
            </div>
            <a href="gtacontent.html"><img class="modthumbnail" src="<%= asset_path('thumbnail2.jpg') %>" /></a>
         </div>
         <div class="modtitlewrap">
            <a href="gtacontent.html" class="modtitle">Spiderman</a>
         </div>
      </div>
      <div class="mod_creator_and_download_wrap">
         <div class="mod_creator"><a href="gtaprofile.html">ModderMike</a></div>
         <div class="downloadcount">159 <img src="<%= asset_path('downloadcounticon.png') %>" alt="" /></div>
      </div>
   </div>
   <div class="modwrap">
      <div class="mod_thumb_and_title_wrap">
         <div class="modthumbnailwrap">
            <div class="likecounter">
               <img src="<%= asset_path('hearticon.png') %>" />
               <p>157</p>
            </div>
            <a href="gtacontent.html"><img class="modthumbnail" src="<%= asset_path('thumbnail3.jpg') %>" /></a>
         </div>
         <div class="modtitlewrap">
            <a href="gtacontent.html" class="modtitle">The Hulk</a>
         </div>
      </div>
      <div class="mod_creator_and_download_wrap">
         <div class="mod_creator"><a href="gtaprofile.html">WildLandTurtle</a></div>
         <div class="downloadcount">159 <img src="<%= asset_path('downloadcounticon.png') %>" alt="" /></div>
      </div>
   </div>
   <div class="modwrap">
      <div class="mod_thumb_and_title_wrap">
         <div class="modthumbnailwrap">
            <div class="likecounter">
               <img src="<%= asset_path('hearticon.png') %>" />
               <p>157</p>
            </div>
            <a href="gtacontent.html"><img class="modthumbnail" src="<%= asset_path('thumbnail4.jpg') %>" /></a>
         </div>
         <div class="modtitlewrap">
            <a href="gtacontent.html" class="modtitle">Porsche 911</a>
         </div>
      </div>
      <div class="mod_creator_and_download_wrap">
         <div class="mod_creator"><a href="gtaprofile.html">Josh545</a></div>
         <div class="downloadcount">159 <img src="<%= asset_path('downloadcounticon.png') %>" alt="" /></div>
      </div>
   </div>
   <div class="modwrap">
      <div class="mod_thumb_and_title_wrap">
         <div class="modthumbnailwrap">
            <div class="likecounter">
               <img src="<%= asset_path('hearticon.png') %>" />
               <p>157</p>
            </div>
            <a href="gtacontent.html"><img class="modthumbnail" src="<%= asset_path('thumbnail5.jpg') %>" /></a>
         </div>
         <div class="modtitlewrap">
            <a href="gtacontent.html" class="modtitle">Camaro SS</a>
         </div>
      </div>
      <div class="mod_creator_and_download_wrap">
         <div class="mod_creator"><a href="gtaprofile.html">2Cool4u</a></div>
         <div class="downloadcount">159 <img src="<%= asset_path('downloadcounticon.png') %>" alt="" /></div>
      </div>
   </div>
</div>
<div class="homepage_load_more_wrap">
   <input type="submit" class="homepage_load_more"value="Load More" />
</div>