<div class="contentpage_wrap">
  <%= form_for(@submission) do |f| %>
  <div class="contentpage_basic_mod_info_wrap uploadmod_basic_mod_info_wrap">

    <div class="contentpage_titlewrap">
      <%= f.text_field :name, class: 'uploadmod_title', placeholder: 'Title' %>

    </div>
    <div class="contentpage_mainthumb uploadmod_mainthumb">
      <% if !@submission.main_image %>
      <a href=""><p>&#43; Add Thumbnail</p></a>
      <% end %>
      <img class="contentpage_mainthumb_img" src="<%= @submission.main_image ? @submission.main_image.image_url : '' %>" alt="" />
    </div>

  </div>
  <div class="contentpage_download_and_screenshots_wrap uploadmod_download_and_screenshots_wrap">
    <div class="uploadmod_buttons_wrap">
      <input type="submit" value="Add File" class="uploadmod_buttons" />
      <%= f.submit 'Save', class: 'uploadmod_buttons' %>
    </div>
    <div class='upload_select' style='display: none;'>
      <%= select_tag :location, options_for_select([["Main Image", "Main"], ["Screenshot", "Thumbnail"]], "Thumbnail"), {} %>
    </div>
    <div class="contentpage_screenshots_wrap uploadmod_screenshots_wrap">
      <% @submission.thumbnails.each do |thumb| %>
      <div class="uploadmod_individual_screenshot_wrap"><img src="<%= thumb.image_url(:thumb) %>" /></div>
      <% end %>
      <div class="uploadmod_individual_screenshot_wrap"><a href="#screenshot-popup" class='open-screenshot'><img class="uploadmod_addsceenshot" src="<%= asset_path('upload_thumb.png') %>" ></img></a></div>
    </div>
  </div>

  <div id="screenshot-popup" class="popup mfp-hide">
    <p>Use this popup to upload images to represent your submission.</p>

    <p>Before uploading, make sure to select a location to display your images in.</p>
    <input id="fileupload" type="file" name="images[]" data-url="images.json" style='display: none' multiple>
    <table>
      <tbody id="file-body">
      </tbody>
    </table>
    <div class="progress-bar" style='display: none;'>
      <span style="width: 0%"></span>
    </div>
    <input type="submit" value='Upload' id="upload_btn" class="upload_submit_button">
  </div>

  <a class="expand_description">&#62;</a>
  <div class="contentpage_descriptionwrap uploadmod_descriptionwrap">
    <%= f.text_area :body, placeholder: 'Detailed mod description' %>
  </div>
  <div class="contentpage_commentswrap uploadmod_categorieswrap">
<!--         <fieldset>
            <legend>Category</legend>
            <select class="maincategory" size="8">
                <option>Tools</option>
                <option>Maps</option>
                <option>Vehicles</option>
                <option>Textures</option>
                <option>Script</option>
                <option>Misc</option>
                <option>Weapons</option>
                <option>Player</option>
            </select>
        </fieldset>
        <fieldset>
            <legend>SubCategory</legend>
            <select class="maincategory" size="8">
                <option>Ford</option>
                <option>Maserati</option>
                <option>Nissan</option>
                <option>Hummer</option>
                <option>Lamborghini</option>
                <option>Mercedes</option>
                <option>VolksWagon</option>
                <option>BMW</option>
                <option>Cadillac</option>
                <option>VolksWagon</option>
                <option>BMW</option>
            </select>
          </fieldset> -->
        </div>
        <% end %>
      </div>