<div class="content_error_box">
  <% if @submission.errors.any? %>
  <ul>
    <% @submission.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
  <% end %>
</div>
<% new_record = @submission.new_record? %>
<div class="contentpage_wrap">
  <%= form_for(@submission) do |f| %>
  <div class="contentpage_basic_mod_info_wrap uploadmod_basic_mod_info_wrap">
    <div class="contentpage_titlewrap">
      <%= f.text_field :name, class: 'uploadmod_title', placeholder: 'Title' %>
    </div>
    <div class="contentpage_mainthumb uploadmod_mainthumb">
      <% main = @submission.main_image %>
      <%= image_tag (main ? main.image_url : 'add_mainimage_default.png'), class: 'contentpage_mainthumb_img', alt: 'Upload a main image' %>
    </div>

  </div>
  <div class="contentpage_download_and_screenshots_wrap uploadmod_download_and_screenshots_wrap">
    <div class="uploadmod_buttons_wrap">
      <% if !new_record %>
      <a href="#file-popup" class='open-file'><input type="button" value="Add File" class="uploadmod_buttons" /></a>
      <% end %>
      <%= f.submit 'Save', class: 'uploadmod_buttons' %>
    </div>
    <div class="contentpage_screenshots_wrap uploadmod_screenshots_wrap">
      <div class='uploadmod_inner_screenshots_wrap'>
        <% if !new_record %>
        <% @submission.thumbnails.each do |thumb| %>
        <div class="uploadmod_individual_screenshot_wrap">
          <img src="<%= thumb.image_url(:thumb) %>" />
          <a href="<%= url_for [@submission, thumb] %>" class="close">&#10006;</a>
        </div>
        <% end %>
        <div class="uploadmod_individual_screenshot_wrap"><a href="#screenshot-popup" class='open-screenshot'><img class="uploadmod_addsceenshot" src="<%= asset_path('upload_thumb.png') %>" ></img></a></div>
        <% else %>
        <p align='center'>Save your submission before adding images or files!</p>
        <% end %>
      </div>
    </div>
  </div>

  <a class="expand_description">&#62;</a>
  <div class="contentpage_descriptionwrap uploadmod_descriptionwrap">
    <%= f.text_area :body, placeholder: 'Detailed mod description' %>
  </div>
  <div class="contentpage_commentswrap uploadmod_categorieswrap">
    <fieldset>
      <legend>Category</legend>
      <%= f.select(:category, options_for_select(CATEGORIES.map{ |k, v| [k.to_s.capitalize, k.to_s] }, @submission.category), {}, {:class=>'maincategory', size: "8" }) %>
    </fieldset>
    <fieldset>
      <legend>SubCategory</legend>
      <% if @submission.category %>
      <%= f.select(:sub_category, options_for_select(CATEGORIES[@submission.category.downcase.to_sym].map{ |k| [k, k.downcase.gsub(' ', '_')] }, @submission.sub_category), {}, { :class=>'maincategory', size: "8" }) %>
      <% else %>
      <%= f.select(:sub_category, [], {:include_blank => 'None Specified'}, { :class=>'maincategory', size: "8" } ) %>
      <% end %>
    </fieldset>
  </div>
  <% end %>
</div>

<% if !new_record %>
<div class='upload_select' style='display: none;'>
  <%= select_tag :location, options_for_select([["Main Image", "Main"], ["Screenshot", "Thumbnail"]], "Thumbnail"), {} %>
</div>
<div id="screenshot-popup" class="imageupload_popup_wrap mfp-hide mfp-with-anim">
  <h3>Image Upload</h3>
  <h4>Drag and drop to upload more images!</h4>
  <table cellspacing="0" id="file-table"></table>
  <div class="progressbarwrap">
    <div class="progressbar"></div>
  </div>
  <div class="bottom_buttons_wrap">
    <input class="upload" type=submit value="Upload" id="upload_btn" />
    <input id="fileupload" class="addimage" type="file" name="images[]" data-url="images.json" multiple value="Add Image">
  </div>
</div>

<div id="file-popup" class="imageupload_popup_wrap fileupload_popup_wrap mfp-hide mfp-with-anim">
  <h3>File Upload</h3>
  <h4>Browse for file!</h4>
  <p>This form allows you to upload a new version of your content submission. A version to represent this file is <b>required</b> but a changelog is <i>optional</i>.</p>
  <ul>
    <li>Read the site rules before uploading any content.</li>
    <li>We recommend uploading only .zip files, but .rar and .tar files also work.</li>
  </ul>

  <%= form_for([@submission, @submission.uploads.build], method: :post, html: {:multipart => true, :remote => true, format: :js}) do |f| %>
  <table cellspacing="0">
    <tr>
      <td><%= f.file_field :upload %></td>
    </tr>
    <tr class="spacer"></tr>
    <tr>
      <td>
        <%= f.label :version, 'Version:' %>
        <%= f.text_field :version, class: 'version' %>
      </td>
    </tr>
    <tr class="spacer"></tr>
    <tr>
      <td>
        <%= f.label :changelog, 'Changelog:' %>
        <%= f.text_area :changelog, placeholder: 'Optional changelog...' %>
      </td>
    </tr>
    <tr class="spacer"></tr>
  </table>
  <div class="fileuploaderrors"></div>
  <div class="bottom_buttons_wrap">
    <%= f.submit 'Upload', class: 'upload' %>
  </div>
  <% end %>

</div>
<% end %>
<%= content_for :scripts do %>
<script>
  window.categories = JSON.parse('<%= CATEGORIES.to_json.html_safe %>');
  $("#submission_category").change(function(e) {
    var category = $(e.target).val().toLowerCase();
    var subcategories = window.categories[category];
    if (subcategories === null) console.error("Sub categories not found.");
    $("#submission_sub_category").empty();
    for (var x = 0; x < subcategories.length; x++) {
      var current = subcategories[x];
      $("#submission_sub_category").append("<option value=" + current.toLowerCase() + ">" + current + "</option>");
    }
  });
</script>
<% end %>