<%= content_for(:title, @submission.name) %>
<div class="contentpage_wrap">
	<div class="contentpage_basic_mod_info_wrap">
		
		<div class="contentpage_titlewrap">
			<div class="contentpage_title">
				<%= @submission.name %>
			</div>
			<div class="contentpage_modcreator">
				by <%= @submission.fetch_creator %>
			</div>
			
		</div>
		<div class="contentpage_mainthumb">
			<% main = @submission.fetch_display %>
			<%= image_tag((main ? main['image']['url'] : 'mainimage_default.png'), alt: "Main Thumbnail", class: 'contentpage_mainthumb_img') %>"
		</div>
		
	</div>
	<div class="contentpage_download_and_screenshots_wrap">
		<% latest = @submission.latest %>
		<% if latest %>
		<div class="modfilename"><%= latest.upload.file.filename + ' (' + latest.size + ')' %></div>
		<a class="downloadbutton_link" href="<%= url_for [@submission, :download] %>"><div class="downloadbutton">
			<div class="downloadbutton_text">Download</div>
		</div></a>
		<% elsif @submission.can_manage(current_user) %>
		<% if @submission.approved_at.nil? && @submission.uploads.count > 0 %>
		<div class="modfilename nouploads"><%= pluralize(@submission.uploads.count, 'file') %>  waiting for approval.</div>
		<% else %>
		<div class="modfilename nouploads">No files uploaded.</div>
		<% end %>
		<a class="downloadbutton_link" href="<%= url_for [:edit, @submission] %>"><div class="downloadbutton">
			<div class="downloadbutton_text">Upload File</div>
		</div></a>
		<% end %>
		<div class="contentpage_screenshots_wrap">
			<% @submission.thumbnails.each do |thumb| %>
			<div class="contentpage_individual_screen_wrap">
			<img class="contentpage_screenshot" src="<%= thumb.image_url(:thumb) %>" title='Click to display original image'>
			</div>
			<% end %>
		</div>
	</div>
	<div class="contentpage_likebar_wrap">
		<a class="downloadbutton_link" href=""><div class="downloadbutton downloadbuttonsmall">
			<div class="downloadbutton_text downloadbutton_textsmall">Download</div>
		</div></a>
		<div class="ratingbutton likebutton <%= @rating == 'like' ? 'liked' : 'neither' %>" id='like' data-url="<%= submission_like_path(@submission, format: :json) %>">
			<img src="<%= asset_path('like.png') %>" class="ratingbuttonicon <%= @rating == 'like' ? '' : 'grayscale' %>" >
			<div class="ratingbutton_text">Like</div>
		</div>
		<div class="ratingbutton dislikebutton <%= @rating == 'dislike' ? 'disliked' : 'neither' %>" id='dislike' data-url="<%= submission_dislike_path(@submission, format: :json) %>">
			<img src="<%= asset_path('dislikecolor.png') %>" class="ratingbuttonicon <%= @rating == 'dislike' ? '' : 'grayscale' %>" >
			<div  class="ratingbutton_text">Dislike</div>
		</div>
		<div class="ratingresults" id="rating"><%= rating_text(@submission) %></div>
	</div>
	<a class="expand_description">&#62;</a>
	<div class="contentpage_descriptionwrap">
		<div class="contentpage_headertitles">Description <a class="collapse_description_icon" >&#60;</a></div>
		<div class="descriptionwrap_moddescription">
			<%= @submission.baked_body.html_safe %>
		</div>
		<div class="contentpage_uploaddate"><b>Upload Date:</b><span class="tooltip" title='<%= exact(@submission.created_at) %>'> <%= relative(@submission.created_at) %></span></div>
		<div class="contentpage_lastupdated"><b>Last Updated:</b><span class="tooltip"title='<%= exact(@submission.updated_at) %>'> <%= relative(@submission.updated_at) %></span></div>
	</div>
	<%= render 'comments' %>
</div>