<%= content_for(:title, @submission.name) %>
<div class="contentpage_wrap">
	<div class="contentpage_basic_mod_info_wrap">
		
		<div class="contentpage_titlewrap">
			<div class="contentpage_title">
				<%= @submission.name %>
			</div>
			
		</div>
		<div class="contentpage_mainthumb">
			<% main = @submission.fetch_display %>
			<%= image_tag((main ? main['image']['url'] : 'mainimage_default.png'), alt: "Main Thumbnail", class: 'contentpage_mainthumb_img') %>"
		</div>
		
	</div>
	<div class="contentpage_download_and_screenshots_wrap">
		<% latest = @submission.latest %>
		<% if latest %>
		<div class="modfilename"><%= latest.upload.file.filename + ' (' + latest.size + ')' %></div>
		<div class="downloadbutton_wrap">
			<a class="downloadbutton_link" href="<%= url_for [@submission, :download] %>">
				<div class="downloadbutton">
					<div class="downloadbutton_text"><%= t '.download' %></div>
				</div>
			</a>
			<p class="creator"><%= t('.created_by') %> <%= link_to @submission.fetch_creator, profile_path(@submission.fetch_creator) %></p>
		</div>
		<% elsif @submission.can_manage(current_user) %>
		<% if @submission.approved_at.nil? && @submission.uploads.count > 0 %>
		<div class="modfilename nouploads"><%= pluralize(@submission.uploads.count, 'file') %>  waiting for approval.</div>
		<% else %>
		<div class="modfilename nouploads">No files uploaded.</div>
		<% end %>
		<div class="downloadbutton_wrap">
			<a class="downloadbutton_link" href="<%= url_for [:edit, @submission] %>">
				<div class="downloadbutton">
					<div class="d"><%= t '.upload_file' %></div>
				</div>
			</a>
		</div>
		<% end %>
		<div class="contentpage_screenshots_wrap" api-loader='<%= asset_path "loader.gif" %>'>
			<% @submission.thumbnails.each do |thumb| %>
			<div class="contentpage_individual_screen_wrap">
				<img class="contentpage_screenshot" src="<%= thumb.image_url(:thumb) %>" title='<%= t '.click_original' %>' alt="Screenshot" />
			</div>
			<% end %>
		</div>
	</div>
	<div class="contentpage_likebar_wrap">
		<a class="downloadbutton_link" href=""><div class="downloadbutton downloadbuttonsmall">
			<div class="downloadbutton_text downloadbutton_textsmall"><%= '.download' %></div>
		</div></a>
		<div class="ratingbutton likebutton <%= @rating == 'like' ? 'liked' : 'neither' %>" id='like' data-url="<%= submission_like_path(@submission, format: :json) %>">
			<img src="<%= asset_path('like.png') %>" class="ratingbuttonicon <%= @rating == 'like' ? '' : 'grayscale' %>" alt="Like" />
			<div class="ratingbutton_text"><%= t 'common.like' %></div>
		</div>
		<div class="ratingbutton dislikebutton <%= @rating == 'dislike' ? 'disliked' : 'neither' %>" id='dislike' data-url="<%= submission_dislike_path(@submission, format: :json) %>">
			<img src="<%= asset_path('dislikecolor.png') %>" class="ratingbuttonicon <%= @rating == 'dislike' ? '' : 'grayscale' %>" alt="Dislike" />
			<div  class="ratingbutton_text"><%= t 'common.dislike' %></div>
		</div>
		<div class="ratingresults" id="rating"><%= rating_text(@submission) %></div>
	</div>
	<a class="expand_description">&#62;</a>
	<div class="contentpage_descriptionwrap">
		<div class="contentpage_headertitles"><%= t '.description' %><a class="collapse_description_icon" >&#60;</a></div>
		<div class="descriptionwrap_moddescription">
			<%= @submission.baked_body.html_safe %>
			<div class="contentpage_uploaddate"><b><%= t('.upload_date') %>:</b><span class="tooltip" title='<%= exact(@submission.created_at) %>'> <%= relative(@submission.created_at) %></span></div>
			<div class="contentpage_lastupdated"><b><%= t('last_updated') %>:</b><span class="tooltip" title='<%= exact(@submission.last_updated) %>'> <%= relative(@submission.last_updated) || "N/A" %></span></div>
			<div class="contentpage_lastupdated"><b><%= t('.downloads') %>:</b><span> <%= @submission.download_count %></span></div>
		</div>

	</div>
	<%= render 'comments' %>
</div>
<%= render 'sidebar' %>
