<div class="contentpage_wrap">
	<div class="contentpage_basic_mod_info_wrap">
		
		<div class="contentpage_titlewrap">
			<div class="contentpage_title">
				<%= @submission.name %>
			</div>
			<div class="contentpage_modcreator">
				by <%= @submission.creator.username %>
			</div>
			
		</div>
		<div class="contentpage_mainthumb">
			<img class="contentpage_mainthumb_img" src="<%= @submission.main_image ? @submission.main_image.image_url : '' %>" alt="Main Thumbnail" />
		</div>
		
	</div>
	<div class="contentpage_download_and_screenshots_wrap">
		<div class="modfilename">Wickerville.zip (34mb)</div>
		<a class="downloadbutton_link" href=""><div class="downloadbutton">
			<div class="downloadbutton_text">Download</div>
		</div></a>
		<div class="contentpage_screenshots_wrap">

			<% @submission.thumbnails.each do |thumb| %>
			 <a href=""><div class="contentpage_individual_screen_wrap"><img class="contentpage_screenshot" src="<%= thumb.image_url(:thumb) %>" /></div></a>
			<% end %>
			
		</div>
	</div>
	<div class="contentpage_likebar_wrap">
		<a class="downloadbutton_link" href=""><div class="downloadbutton downloadbuttonsmall">
			<div class="downloadbutton_text downloadbutton_textsmall">Download</div>
		</div></a>
		<div class="ratingbutton likebutton">
			<img src="<%= asset_path('likebuttonicon.png') %>" class="ratingbuttonicon" />
			<div class="ratingbutton_text">Like</div>
		</div>
		<div class="ratingbutton dislikebutton">
			<img src="<%= asset_path('dislikebuttonicon.png') %>" class="ratingbuttonicon" />
			<div  class="ratingbutton_text">Disike</div>
		</div>
		<div class="ratingresults">86 people like this mod</div>
	</div>
	<a class="expand_description">&#62;</a>
	<div class="contentpage_descriptionwrap">
		<div class="contentpage_headertitles">Description <a class="collapse_description_icon" >&#60;</a></div>
		<div class="descriptionwrap_moddescription">
			<%= @submission.baked_body.html_safe %>
		</div>
		<div class="contentpage_uploaddate tooltip" title='<%= exact(@submission.created_at) %>'><b>Upload Date:</b> <%= relative(@submission.created_at) %></div>
		<div class="contentpage_lastupdated tooltip" title='<%= exact(@submission.updated_at) %>'><b>Last Updated:</b> <%= relative(@submission.updated_at) %></div>
	</div>
	<div class="contentpage_commentswrap" data-api="<%= url_for([:api, :v1, @submission, :comments]) %>" data-sort="<%= @sort %>">
		<div class="contentpage_headertitles">Comments

			<div id="contentoptions">
				<ul>
					<li>
						<% if @sort && @sort_options.key(@sort) %>
						<a href="#current"><%= @sort_options.key(@sort) %> <span class="downarrowsymbol">&#x25BC;</span></a>
						<% @sort_options.delete(@sort_options.key(@sort)) %>
						<% else %>
						<a href="#current"><%= @sort_options.keys[0] %> <span class="downarrowsymbol">&#x25BC;</span></a>
						<% @sort_options.delete(@sort_options.keys[0]) %>
						<% end %>
						<ul>
							<% @sort_options.each do |k, v| %>
							<li><%= link_to k, params.merge(c_sort: v) %></li>
							<% end %>
						</ul>
					</li>
				</ul>
			</div>
		</div>
		<%= form_for([@submission, @submission.comments.build]) do |f| %>
		<%= f.text_field :text, class: 'commentinput', placeholder: 'What do you think?' %>
		<%= f.submit 'Submit', class: 'comment_submit_button' %>
		<% end %>
		<% @comments.each do |comment| %>
		<div class="usercommentwrap">
			<div class="commentname"><%= comment.user.username %> <div class="likecomment_score">+3 <a href="" class="likecomment_button">Like</a></div></div>
			<div class="commenttext"><%= comment.text %></div>
		</div>
		<% end %>
		<div class="load_comments_wrap"><input class="load_comments_button" type="submit" value="Load More" /></div>
	</div>
	<script>
		var current_page = 1;

		function loadComments() {
			var api_url = $('.contentpage_commentswrap').attr('data-api');
			var sort = $('.contentpage_commentswrap').attr('data-sort');

			console.log(api_url)

			current_page += 1;
			$.getJSON(api_url + '?c_sort=' + sort + '&c_page=' + current_page, function(data) {
				console.log(data);
				var parent = $('.load_comments_wrap');
				$.each( data, function( key, val ) {
					$(parent).before("<div class='usercommentwrap'><div class='commentname'>" + val['user']['username'] + " <div class='likecomment_score'>+3 <a href='' class='likecomment_button'>Like</a></div></div><div class='commenttext'>" + val['text'] + "</div></div>")

				});
			});

		}

		$('.load_comments_wrap').click(loadComments);

	</script>
</div>

<script type="text/javascript">
	$(document).ready(function(){
		$('.submissiondate').hide();

		$(".modthumbnailwrap").on({
			mouseenter: function () {
				$('.submissiondate', this).stop().fadeIn(300);
			},
			mouseleave: function () {
				$('.submissiondate', this).stop().fadeOut(100);
			}
		});

		$('.collapse_description_icon').on('click', function() {
			$('.contentpage_descriptionwrap').addClass('collapse_description');
			$('.contentpage_commentswrap').addClass('commentswrap_expanded');
			$('.expand_description').addClass('expand_description_show_icon');
		});

		$('.expand_description').on('click', function() {
			$('.contentpage_descriptionwrap').removeClass('collapse_description');
			$('.contentpage_commentswrap').removeClass('commentswrap_expanded');
			$('.expand_description').removeClass('expand_description_show_icon');
		});

		$(".usercommentwrap").on({
			mouseenter: function () {
				$('.likecomment_button', this).show();
			},
			mouseleave: function () {
				$('.likecomment_button', this).hide();
			}
		});
	});
</script>