<head>
	<title><%= content_for?(:title) ? yield(:title) + ' :: Mods-GTAV ' : 'Mods-GTAV' %></title>
	<%= stylesheet_link_tag "application" %>
	<%= javascript_include_tag "application" %>
	<link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Asap:400,700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Niconne' rel='stylesheet' type='text/css'>
	<%= csrf_meta_tags %>

	<%= yield(:scripts) %>
</head>
<body>

	<div class="fullpagewrap">
		<div class="logoheader">
		</div>
		<div class="header">
			<div class="navigation_bar_wrap parallax-window" data-parallax="scroll">
				<ul>
					<li><a href="<%= root_path %>"><h2>Home</h2><img src="<%= asset_path('home50color.png') %>" alt="Navigation Icon" /></a></li>
					<li><h2>Tools</h2><img src="<%= asset_path('user50color.png') %>" alt="Navigation Icon" /></li>
					<li><h2>Maps</h2><img src="<%= asset_path('levels50color.png') %>" alt="Navigation Icon" /></li>
					<li class="active_menu_item"><h2>Vehicles</h2><img src="<%= asset_path('car50color.png') %>" alt="Navigation Icon" /></li>
					<li><h2>Textures</h2><img src="<%= asset_path('user50color2.png') %>" alt="Navigation Icon" /></li>
					<li><h2>Script</h2><img src="<%= asset_path('car50color.png') %>" alt="Navigation Icon" /></li>
					<li><h2>Misc</h2><img src="<%= asset_path('upload50color.png') %>" alt="Navigation Icon" /></li>
					<li><h2>Weapons</h2><img src="<%= asset_path('levels50color.png') %>" alt="Navigation Icon" /></li>
					<li><h2>Player</h2><img src="<%= asset_path('user50color.png') %>" alt="Navigation Icon" /></li>
				</ul>
			</div>
			<div class="active_bar_wrap">

			</div>
		</div>
		<div class="fullcontentwrap">
			<div class="sorting_options_wrap parallax-window" data-parallax="scroll">
				<div class="modsortingoptions_wrap">
					<div id="modsortingoptions">
						<ul>
							<li><a href="#">Newest<span class="downarrowsymbol"><img src="<%= asset_path('downarrow.png') %>" /></span></a>
								<ul>
									<li><a href="#">Popular</a></li>
									<li><a href="#">Most Liked</a></li>
								</ul>
							</li>
						</ul>
					</div>
					<div id="modsortingoptions">
						<ul>
							<li><a href="#">Now<span class="downarrowsymbol"><img src="<%= asset_path('downarrow.png') %>" /></span></a>
								<ul>
									<li><a href="#">This Week</a></li>
									<li><a href="#">This Month</a></li>
									<li><a href="#">All Time</a></li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
				<a href="" class="addmodbutton">
					Add Mod +
				</a>
				<div class="searchwrap">
					<input type="text" name="search" class="search" placeholder="Search" />
					<img src="<%= asset_path('searchbutton.png') %>" class="searchbutton accentcolor" />     
				</div>
			</div>
			<div class="mainpagewrap">
				<div class="mainpage">
					<%= yield %>
				</div>
				<div class="right_sidebar_preview"><div class="sidebar_expand_button"> < </div></div>
				<div class="right_sidebar">
					<% if current_user %>
					<div class="userprofilebox">
						<div class="userinfo_profilewrap">
							<div class="user_avatar_wrap"><%= avatar(current_user) %></div>
							<div class="userinfo">
								<div class="username"><%= current_user.username %></div>
								<div class="userdesc">Mod Creator</div>
							</div>
							<table class="userstats">
								<tr>
									<td class="stat_title"><img class="user_stat_icon accentcolor" src="<%= asset_path('hearticon.png') %>" /></td>
									<td class="stat_title"><img class="user_stat_icon accentcolor" src="<%= asset_path('commenticon.png') %>" /></td>
									<td class="stat_title"><img class="user_stat_icon accentcolor" src="<%= asset_path('downloadicon.png') %>" /></td>
								</tr>
								<tr>
									<td><span class="stat_amount">41</span></td>
									<td><span class="stat_amount">206</span></td>
									<td> <span class="stat_amount">0</span></td>
								</tr>
							</table>
						</div>

					</div>   
					<% end %>
					<div class="subcategoriesbox">
						<h3>Subcategories</h3>
						<div class="subcategories_wrap">
							<div class="subcategory">
								<p>All</p>
							</div>
							<div class="subcategory">
								<p>Jeep</p>
							</div>
							<div class="subcategory active_subcategory">
								<p>Lamborghini</p>
							</div>
							<div class="subcategory">
								<p>Ford</p>
							</div>
							<div class="subcategory">
								<p>Nissan</p>
							</div>
							<div class="subcategory">
								<p>Subaru</p>
							</div>
							<div class="subcategory">
								<p>Ferrari</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<% if params[:controller] == 'submissions' && params[:action] == 'index' %>
			<div class="paginationfooter">
				<div class="paginationwrap">
					<a href="" class="pagination_prev_button"><div class="pagination_link">Prev</div></a>
					<div class="pagination_numbers_wrap">
						<a href="" class="pagenumber"><div class="pagination_link">1</div></a>a>
						<a href="" class="pagenumber activepagenumber"><div class="pagination_link">2</div></a>
						<a href="" class="pagenumber"><div class="pagination_link">3</div></a>
						<a href="" class="pagenumber"><div class="pagination_link" >4</div></a>
						<a href="" class="pagenumber"><div class="pagination_link">5</div></a>
						<a href="" class="pagenumber"><div class="pagination_link">6</div></a>
						<a href="" class="pagenumber"><div class="pagination_link">...</div></a>
						<a href="" class="pagenumber"><div class="pagination_link">18</div></a>
					</div>
					<a href="" class="pagination_next_button"><div class="pagination_link">Next</div></a>        
				</div>
			</div>
			<% end %>

		</div>
	</div>

</body>