<head>
	<title><%= content_for?(:title) ? yield(:title) + ' :: Mods-GTAV ' : 'Mods-GTAV' %></title>
	<%= stylesheet_link_tag "application" %>
	<link href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Asap:400,700' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Niconne' rel='stylesheet' type='text/css'>

	<!-- Social Media Meta -->
	<meta property="og:title" content="GTA 5 Mods" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="http://www.Mods-GTAV.com" />
	<meta property="og:image" content="http://i.imgur.com/CPCIBLl.png" />
	<meta property="og:description" 
	content="The #1 source for GTA 5 Modifications. PC Mods for Grand Theft Auto V include maps, scipts, tools, textures, models and more!" />

	<!-- Twitter display meta -->
	<meta name="twitter:card" content="summary">
	<meta name="twitter:creator" content="@Mods-GTAV_com">

	<!-- Support various devices with different icons -->
	<link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="shortcut icon" href="/favicon.ico">
	<link rel="icon" sizes="16x16 32x32 64x64" href="/favicon.ico">
	<link rel="manifest" href="/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">

	<%= csrf_meta_tags %>

	<!-- Google analytics -->
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-60401809-1', 'auto');
		ga('send', 'pageview');
	</script>

	<script type="application/ld+json">
		{ "@context" : "http://schema.org",
		"@type" : "CreativeWork",
		"name" : "Mods-GTAV",
		"url" : "http://www.mods-gtav.com",
		"sameAs" : ["http://twitter.com/Mods_GTAV",
		"https://plus.google.com/111469834211307832883"],
		"dateCreated": "2015-03-01",
		"dateModified": "2015-03-05",
		"keywords": "GTA 5 Mods, grand theft auto, gta 5 pc, car mods",
		"audience": "Grand Theft Auto players" }
	</script>
</head>
<body>

	<div class="fullpagewrap">
		<div class="logoheader">
			<div class="innerlogoheader">
				<a href="<%= root_path %>"><img class="logo" src="<%= asset_path('modsgtalogo.png') %>" /></a>
				<a href="https://twitter.com/Mods_GTAV"><img class="twitter" src="<%= asset_path('twitterlogo.png') %>" /></a>
			</div>
		</div>
		<div class="header">
			<div class="navigation_bar_wrap">
				<ul>
					<li class="<%= active_cat('home') %>">
						<a href="<%= root_path %>">
							<h2>Home</h2>
							<img src="<%= asset_path('home50color.png') %>" alt="Navigation Icon" />
						</a>
					</li>
					<li class="<%= active_cat('tools') %>">
						<a href="<%= category_path('tools') %>">
							<h2>Tools</h2>
							<img src="<%= asset_path('user50color.png') %>" alt="Navigation Icon" />
						</a>
					</li>
					<li class="<%= active_cat('maps') %>">
						<a href="<%= category_path('maps') %>">
							<h2>Maps</h2>
							<img src="<%= asset_path('levels50color.png') %>" alt="Navigation Icon" />
						</a>
					</li>
					<li class="<%= active_cat('vehicles') %>">
						<a href="<%= category_path('vehicles') %>">
							<h2>Vehicles</h2>
							<img src="<%= asset_path('car50color.png') %>" alt="Navigation Icon" />
						</a>
					</li>
					<li class="<%= active_cat('textures') %>">
						<a href="<%= category_path('textures') %>">
							<h2>Textures</h2>
							<img src="<%= asset_path('user50color2.png') %>" alt="Navigation Icon" />
						</a>
					</li>
					<li class="<%= active_cat('script') %>">
						<a href="<%= category_path('script') %>">
							<h2>Script</h2>
							<img src="<%= asset_path('car50color.png') %>" alt="Navigation Icon" />
						</a>
					</li>
					<li class="<%= active_cat('misc') %>">
						<a href="<%= category_path('misc') %>">
							<h2>Misc</h2>
							<img src="<%= asset_path('upload50color.png') %>" alt="Navigation Icon" />
						</a>
					</li>
					<li class="<%= active_cat('weapons') %>">
						<a href="<%= category_path('weapons') %>">
							<h2>Weapons</h2>
							<img src="<%= asset_path('levels50color.png') %>" alt="Navigation Icon" />
						</a>
					</li>
					<li class="<%= active_cat('player') %>">
						<a href="<%= category_path('player') %>">
							<h2>Player</h2>
							<img src="<%= asset_path('user50color.png') %>" alt="Navigation Icon" />
						</a>
					</li>
				</ul>
			</div>
			<div class="active_bar_wrap">

			</div>
		</div>
		<div class="fullcontentwrap">
			<div class="sorting_options_wrap">
				<div class="modsortingoptions_wrap">
					<% if params[:controller] == 'submissions' && params[:action] == 'index' %>
					<div id="modsortingoptions">
						<ul>
							<li><a href="<%= url_for(:sort => @sort_options[@sort]) %>"><%= @sort %><span class="downarrowsymbol"><img src="<%= asset_path('downarrow.png') %>" /></span></a>
								<ul>
									<% @sort_options.delete(@sort) %>
									<% @sort_options.each do |k, v| %>
									<li><%= link_to k, params.merge(:sort => v) %></li>
									<% end %>
								</ul>
							</li>
						</ul>
					</div>
					<div id="modsortingoptions">
						<ul>
							<li><a href="<%= url_for(:time => @time_options[@time]) %>"><%= @time %><span class="downarrowsymbol"><img src="<%= asset_path('downarrow.png') %>" /></span></a>
								<ul>
									<% @time_options.delete(@time) %>
									<% @time_options.each do |k, v| %>
									<li><%= link_to k, params.merge(:time => v) %></li>
									<% end %>
								</ul>
							</li>
						</ul>
					</div>
					<% end %>
				</div>
				<% if params[:controller] == 'submissions' && params[:action] == 'show' && @submission.can_manage(current_user) %>
				<%= link_to 'Edit Mod', edit_submission_path(@submission), class: 'addmodbutton editmodbutton' %>
				<% else %>
				<%= link_to 'Add Mod +', new_submission_path, class: 'addmodbutton' %>
				<% end %>
				<div class="searchwrap">
					<input type="text" name="search" class="search" placeholder="Search" />
					<img src="<%= asset_path('searchbutton.png') %>" class="searchbutton accentcolor" />     
				</div>
			</div>
			<% if params[:action] == 'profile' %>
			<div class="profile_section_wrap">
				<div class="profile_left_panel">
					<h3><%= @user.username %></h3>
					<div class="avatarwrap">
						<%= avatar @user, size: 80 %>
					</div>
					<a href="" class="emailuser">Email</a>
					<div class="user_reputation_wrap">
						<%= image_tag ('hearticon.png'), alt: 'Hearts' %>
						<p>7,562</p>
					</div>
				</div>
				<div class="profile_content_panel">
					<div class="upper_content_panel">
						<a href="#" class="useroptions">Report User</a>
					</div>
					<div class="lower_content_panel">
						<div class="profile_information_section">
							<h3>Information</h3>
							<p class="profile_info_and_stats_text"><b>Last Active</b><br /><span><%= short(@user.last_sign_in_at) %></span></p>
							<p class="profile_info_and_stats_text"><b>Joined</b><br /><span><%= short(@user.created_at) %></span></p>
						</div>
						<div class="profile_bio_section">
							<h3>Biography</h3>
							<p><%= @user.biography %></p>
						</div>
						<div class="profile_stats_section">
							<h3>Statistics</h3>
							<p class="profile_info_and_stats_text"><b>Mods Submitted</b><br /><span><%= @user.submissions.count %></span></p>
							<p class="profile_info_and_stats_text"><b>Most Liked</b><br /><a href="">Police Helicopter</a></p>
							<p class="profile_info_and_stats_text"><b>Most Downloaded</b><br /><a href="">Ford F-150</a></p>
						</div>            
					</div>
				</div>
				<div class="profile_upper_backing">

				</div>
			</div>
			<% end %>
			<div class="mainpagewrap">
				<div class="mainpage <%= params[:controller] == 'home' ? 'homepage' : '' %>">
					<%= yield %>
				</div>
				<div class="right_sidebar_preview"><div class="sidebar_expand_button"> <img src="<%= asset_path('expandsidebar.png') %>" alt="<" /> </div></div>
				<div class="right_sidebar">
					<a href="#" class="close_sidebar" pm>&#10006;</a>
					<div class="userprofilebox">
						<div class="userinfo_profilewrap">
							<%= render 'shared/auth' %>
						</div>
					</div> 
					<div class="subcategoriesbox">
						<h3>Subcategories</h3>
						<div class="subcategories_wrap">
							<a href="<%= url_for :subcategory => 'all' %>">
							<div class="subcategory <%= active_sub('all') %>">
									<p>All</p>
								</div>
							</a>
							<% if params[:category] && @subcategories %>
							<% @subcategories.each do |sub| %>
							<a href='<%= url_for(:subcategory => sub.downcase.gsub(' ', '_')) %>'>
								<div class="subcategory <%= active_sub(sub) %>">
									<p><%= sub %></p>
								</div>
							</a>
							<% end %>
							<% end %>
							<a href="<%= url_for :subcategory => 'other' %>">
							<div class="subcategory <%= active_sub('Other') %>">
									<p>Other</p>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
			<% if params[:controller] == 'submissions' && params[:action] == 'index' %>
			<div class="paginationfooter">
				<%= paginate @submissions %>
			</div>
			<% end %>

		</div>
	</div>
	<%= javascript_include_tag "application" %>
	<%= content_for(:scripts) %>
</body>